# Ansible Managed.
# Do not make manual changes, as they will just be overwritten.

include "{{ named_dir }}/named.conf.options";
include "/etc/bind/named.conf.local";
include "/etc/bind/named.conf.default-zones";
//include "/etc/bind/named.conf.acls";
//include "/etc/bind/named.conf.logging";
//include "/etc/bind/named.conf.servers";
//include "/etc/bind/named.conf.views";

